<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Burgerlicious Devour Menu</title>
</head>

<body>
    <img src="/assets/img/hamburger.png" width="250px" id="cute_burger">

    {{{ body }}}

</body>

</html>