<h1>Eat-Da-Burger!</h1>

<h2>Enter a burger you want to eat and click "Submit" button</h2>

<div class="row">
    <div class="col s12">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="Add Your Burger">
            <button type="submit" class="addBurgerButton">Submit</button>
        </form>
    </div>
</div>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2>Burgers that are ready to eat!</h2>
            </div>
            <div class="col s6">
                <h2>Burgers already eaten.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col s6">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class='burgerEaten'>
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>
